# Banco de dados
db.sqlite3

# Uploads de usuários
/media/

# Arquivos estáticos coletados ou enviados
templates/static/

# Cache do Python
__pycache__/
*.pyc

# Ambiente virtual
venv/
.env

# Arquivos de log
*.log

